---
import Layout from '../layouts/Layout.astro'; 
import { STRAPI_API_KEY, STRAPI_URL } from 'astro:env/server';
---

<Layout title="Bienvenido a El Rincon de Hiro">
	<main>
		<h1 class="text-center text-7xl font-extrabold">El Rincon de <span class="block text-9xl">Hiro</span></h1>
	</main>
</Layout>

